body {
    direction: rtl;
    font-size: 14px;
    text-align: right;
    color: #ffffff;
    line-height: 30px;
    font-family: 'Vazir';
    background-color: white;
    
}

.main-menu {
    float: right;
    width: 100%;
    height: 50;
    background: #f1fcfa;

}
.main-menu > ul > li {
    float: right;
    list-style: none;
    position: relative;
}
.main-menu ul li a {
    padding: 26px 22px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.main-menu ul li a i {
    margin-right: 5px;
}
.main-menu ul li ul {
    position: absolute;
    width: 250px;
    background: #fff;
    top: 115px;
    right: 0;
    box-shadow: 0px 1px 6px #e6e6e6;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    z-index: 999;
}
.main-menu ul li ul li {
    list-style: none;
}
.main-menu ul li ul li a {
    padding: 9px 15px;
    display: block;
    font-weight: normal;
    
}
.main-menu ul li ul li a:hover {
    background: #5caf21;
    color: #fff;
}
.main-menu > ul > li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 83px;
}
input[type="text"] {
    
    width: 150px;
    outline: 0;
    padding: 17px 13px;
    transition: all .2s;
    font-family: iransans;
    background:#fff;
    position: absolute;
    top: 35px;;
    left: 0;
}
.right-box {
    float: left;
    width: 70%;
    margin-top: 15px;
    background-color: #7aa0e6;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #636363;
}

#main {
    float: right;
    width: 90%;
    margin-right: 5%;
    
}

.post-title{
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: "B Titr";
    font-weight: bold;

}

.post-date {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "Vazir";
}
.post-content {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 18px;
    font-family: "B Nazanin";
}
.about-web {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-family: tahoma;
    font-weight: bold;
}
.about-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 18px;
    font-family: tahoma;
}
.menu-web {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-family: tahoma;
    font-weight: bold;
}
.menu-content {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: tahoma;
}

	
/*start cat box*/
.cat-box{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px #636363;
    margin-top: 20px;
    height: 100%;
    width: 25%;
    border-radius: 15px;
}
.cat-box h3{
    color: #000000;
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #535a64;
    font-weight: 900;
    
}
.cat-box h3 i{
    position: relative;
    margin-left: 10px;
}
.cat-box ul{
    font-family: BYekan;
    font-size: 14px;
}
.cat-box ul li {
    position: relative;
    width: 100%;
}
.cat-box ul li:hover{
    background-color: #535a64;
}
.cat-box ul li a{
    display: block;
    color: #000000;
    padding: 15px;
    border-bottom: 1px solid #535a64;
    font-size: 16px;
    font-weight: 600;
}
img{
    width: 70%;
}
code{
    background-color: #c1c1c2;
    box-shadow: 0px 0px 10px 1px #636363;
    border-radius: 5px;
}
