body {
    direction: rtl;
    font-size: 14px;
    text-align: right;
    color: #ffffff;
    line-height: 30px;
    font-family: 'Vazir';
    background-color: white;
    
}


input[type="text"] {
    
    width: 150px;
    outline: 0;
    padding: 17px 13px;
    transition: all .2s;
    font-family: iransans;
    background:#fff;
    position: absolute;
    top: 35px;;
    left: 0;
}
.right-box {
    float: left;
    width: 70%;
    margin-top: 15px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #636363;
}

#main {
    float: right;
    width: 90%;
    margin-right: 5%;
    
}

.post-title{
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: "B Titr";
    font-weight: bold;

}

.post-date {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "Vazir";
}
.post-content {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 18px;
    font-family: "B Nazanin";
}
.about-web {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-family: tahoma;
    font-weight: bold;
}
.about-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 18px;
    font-family: tahoma;
}
.menu-web {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-family: tahoma;
    font-weight: bold;
}
.menu-content {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: tahoma;
}

	

img{
    width: 70%;
}
code{
    background-color: #c1c1c2;
    box-shadow: 0px 0px 10px 1px #636363;
    border-radius: 5px;
}
